body{
	background-image:
url(img/file-20180619-126566-1jxjod2.jpg);
}
body{color: red
}

	
	#div1{
		background-color: yellow;
	}
	#div1{position: relative
	}
	
	#div2{background-color: yellow;
	}
	
	#div3{position: relative
	}

	#div5{position: absolute
	}
	

	#div1, #div2 {border: solid;
	}

		.Koryslist{text-decoration: green;
		}
		.favList{
			text-decoration: underline;
		}

	p {font-size: 12en}